*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Fuel_Log.csv
Vehicles.csv
Trip_Log.csv
Services.csv
/AutoBahn/.kotlin
*.logs
.kotlin/
USER.md
SOUL.md
AGENTS.md
.gitignore
IDENTITY.md
.gitignore
HEARTBEAT.md
TOOLS.md
.openclaw/workspace-state.json
keystore_base64.txt
odo-release.jks
keystore_base64_clean.txt
